<p id="notice"><%= notice %></p>

<h1>Categoties</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoties.each do |categoty| %>
      <tr>
        <td><%= categoty.category %></td>
        <td><%= link_to 'Show', categoty %></td>
        <td><%= link_to 'Edit', edit_categoty_path(categoty) %></td>
        <td><%= link_to 'Destroy', categoty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoty', new_categoty_path %>
