<%= provide :main_menu do%>
  <div class="bg-image", style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); height: 50vh;"></div>
  <header class = "p-3 bg-dark text-white">
    <div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-center me-lg-auto mb-2 justify-content-auto mb-md-0">
       <li class="navbar-brand px-5" >Menu |</li>
        <li class="menu_point"><%= nav_tab 'Home', root_path,
         class: 'nav-link px-2', current_page: current_page %></li>
        <li class="menu_point"><%= nav_tab 'Poems', poems_path, 
        class: 'nav-link px-2 ', current_page: current_page %></li>
        <li class="menu_point"><%= nav_tab 'Categories', categories_path, 
        class: 'nav-link px-2 ', current_page: current_page %></li>

        <%if user_signed_in?%>
        <li class="dropdown" >
        <%= nav_tab current_user.name, '#',
        class: 'nav-link px-2 dropdown-toggle',
        data: {"bs-toggle": 'dropdown'}, current_page: current_page %>
        <ul class="dropdown-menu">
        <li><%= link_to 'Log Out', session_path, 
        class: 'dropdown-item', data: {method: :delete}%>
        </ul>
        </li>
        </a>
        </li>
        <%else%>
        <li class="menu_point"><%= nav_tab 'Sign up!', new_user_path, 
        class: 'nav-link px-2 ', current_page: current_page %></li>
        <li class="menu_point"><%= nav_tab 'Log in!', new_session_path, 
        class: 'nav-link px-2 ', current_page: current_page %></li>
        
        <%end%>
      </ul>
    </nav>
    </div>
    </header>
  <%end%>