<%currently_at 'Categories'%>

<% provide :page_title, "Show category"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<div class="mt-3 d-flex flex-column align-items-center justify-content-center">
  <h3 class="mb-3">Poems</h3>
  <% @poems.each do |poem| %>
    <article class="card mb-3 w-50">
    <h5 class="card-header"><%= poem.title%></h5>
      <div class="card-body ">
        <section class="card-text ">
        <p class="my-2">
          <%= truncate strip_tags(poem.body), length: 50, omission: '... (continued)'%>
        </p>
        </section>
        <br>
        <%= link_to 'Edit', edit_poem_path(poem.id), class:'btn btn-secondary' %> 
        <%= link_to 'Destroy', poem_path(poem.id), class:'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'} %>
        <%= link_to 'Show', poem_path(poem.id), class:'btn btn-primary' %> 
      </div>
    </article>
  <%end%>
</div>
